body {
  background-color: rgb(0, 0, 0);
  color: black;
  margin: 0px;
  padding: 5px;
  display: grid;
  gap: 50px 100px;
  text-align: center;
  color: #333;
  line-height: 1.5;
}

main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: rgb(255, 30, 30);
  font-weight: 600;
  
}
header {
  margin: 5px;
  padding: 25px;
  background: rgb(44, 175, 4);
  border-style: solid;
  border-color: black;
  
}

header p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#title {
  color: black;
font-weight: 800;
  font-size: 50px;
}

figure {
  display: grid;
}

figure #image1 {
  background-color: black;
  max-width: 100%;
  height: auto;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#img-caption {
  font-size: 16px;
  margin: 15px 0 5px 0;
}

#tribute-info {
  font-size: 17.5px;
  padding: 30px;
  margin-left: 12%;
  margin-right: 12%;
}

.video-section {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.video-section iframe {
  margin: 20px auto;
  width: 52vh;
  
  border: 3px solid white;
  border-radius: 5px;
}

#career {
  display: flex;
  justify-content: center;
  gap: 100px;
}

#career ul {
  list-style: none;
}

footer {
  font-size: 15px;
}


