/* Copy and paste your CSS from CodePen into here */
body {
  background-color: beige;
  color: black;
  margin: 0px;
  padding: 5px;
  display: grid;
  gap: 50px 100px;
  text-align: center;
  color: #333;
  line-height: 1.5;
}

main {
  margin: 30px 8px;
  margin-top: 30px;
  margin-right: 8px;
  margin-bottom: 30px;
  margin-left: 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}
header {
  margin: 5px;
  padding: 25px;
  background: silver;
  border-style: solid;
  border-color: black;
}

header #title {
  color: black;

  font-size: 50px;
}
header p {
  font-size: 20px;
  text-align: center;
}

figure {
  display: grid;
}

figure #image {
  background-color: black;
  max-width: 100%;
  height: auto;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#img-caption {
  font-size: 16px;
  margin: 15px 0 5px 0;
}

#tribute-info {
  font-size: 17.5px;
}

.video-section {
  text-align: center;
}
.video-section iframe {
  margin: 20px auto;
  display: block;
  border: 3px solid white;
  border-radius: 5px;
}

footer {
  font-size: 14px;
}
